/**
 * Estilos para botones.
*/
button {
    background-color: var(--cor-de-fundo1);
    font-family: 'Raleway';
    font-size: 1.2em;
    display: inline-block;
    border: none;
    border-radius: 15px;
    width: 20vw;
    height: 50px;
}

/* Estilos al pasar el ratón por encima del botón */
button:hover {
    background-color: #cfdcdc;
}

/* Estilos cuando se hace clic en el botón */
button:active {
    background-color: var(--cor-de-fundo1);
    font-size: 18px;
}

/* Estilos para un ancho máximo de 700px */
@media (max-width: 700px) {
    button {
        width: 87vw;
    }
}