
/* Contenedor principal de la sección de visualización */
.display__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 88vw;
}

/* Contenedor para el input de archivo */
#input__file__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Contenedor para el área de texto */
.textarea__container {
    position: relative;
}

/* Formulario principal */
.inputform__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Contenedor para el input y el botón de búsqueda */
.displayform__input__container {
    width: 75vw;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1vw;
}

/* Estilos para un ancho máximo de 700px */
@media (max-width: 700px) {
    .display__container {
        width: 88vw;
    }

    .displayform__input__container {
        width: 88vw;
        flex-wrap: wrap;
    }

    .input__container {
        width: 88vw;
    }
}