.display__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 88vw;
}

#input__file__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textarea__container {
    position: relative;
}

.inputform__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.displayform__input__container {
    width: 75vw;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1vw;
}

/*Mobile*/
@media (max-width: 700px) {
    .display__container {
        width: 88vw;
    }

    .displayform__input__container {
        width: 88vw;
        flex-wrap: wrap;
    }

    .input__container {
        width: 88vw;
    }
}