.file__input {
    padding-left: 5px;
    cursor: pointer;
    font-family: 'Raleway';
    font-size: 0.875rem ;
    width: 80vw;
}

.display__input {
    color: var(--cor-de-fundo2);
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    height: 3.25rem;
    width: 55vw;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.display__input::placeholder {
    color: var(--cor-de-fundo2);
    visibility: hidden;
}

.display__input:focus {
    outline: none;
}

.display__input__label {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: var(--font-size-input-label);
    color: black;
    transition: all 0.25s;
}

.display__input:not(:placeholder-shown)+.display__input__label,
.display__input:focus+.display__input__label {
    font-size: 0.875rem;
    top: 0.25rem;
    color: var(--cor-de-btn);
    transition: all 0.25s;
}

.display__input:not(:placeholder-shown).display__input:not(:focus)+.contactform__input__label {
    color: var(--cor-de-texto);
}

.input__container__invalid .display__input {
    color: var(--warning-color);
    border: 1px solid var(--warning-color);
    border-radius: 7px;
}

.input__container__invalid .display__input__label {
    color: var(--warning-color);
}

.input__message__error {
    display: none;
}

.input__container__invalid .input__message__error {
    color: var(--warning-color);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

/* text area style*/

.textarea__container {
    position: relative;
}

.display__textarea {
    font-size: 1.1em;
    resize: none;
    line-height: 1.4;
    background-color: var(--cor-de-fundo1);
    border-radius: 15px;
    padding: 15px;
    height: 40vh;
    width: 75vw;
    overflow-wrap: break-word;
    overflow: auto;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: black;
}

/*Mobile*/
@media (max-width: 700px) {
    .display__textarea {
        width: 80vw;
    }
}