/**
 * Estilos para el encabezado de la sección del menú.
 */
.menu__header {
    font-size: 3.5em;
    font-weight: bold;
    font-family: "Cinzel Decorative";

}

/* Estilos para un ancho máximo de 360px */

@media (max-width: 360px) {
    .menu__header {
        font-size: 2.5em;
    }
}