/* Estilos para el input del archivo */
.file__input {
    padding-left: 5px;
    cursor: pointer;
    font-family: 'Raleway';
    font-size: 0.875rem;
    width: 80vw;
}

/* Estilos para el input de texto */
.display__input {
    padding: 5px 10px 0 10px;

    color: var(--cor-de-fundo2);
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    height: 3.25rem;
    width: 55vw;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos para el marcador de posición del input de texto */
.display__input::placeholder {
    color: var(--cor-de-fundo2);
    visibility: hidden;
}

/* Estilos cuando el input de texto está enfocado (elimina el contorno por defecto) */
.display__input:focus {
    outline: none;
}

/* Estilos cuando el contenedor de entrada es inválido */
.input__container__invalid .display__input {
    color: var(--warning-color);
    border: 1px solid var(--warning-color);
    border-radius: 7px;
}

/* Estilos para un ancho máximo de 700px */
@media (max-width: 700px) {
    .display__input {
        width: 87vw;
    }
}